################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatalogProject/Models/CatalogContext.cs
/CatalogProject/Models/CatalogContext.cs
